@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{
    Layout              = null;
    var rootContents    = UmbracoHelper.ContentAtRoot();
    var settings        = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;
    var siteName        = settings?.Value<string>("siteName") ?? "Onatrix";
    var siteTag         = settings?.Value<string>("siteTag") ?? "Financial Solutions";
    var pageDescription = settings?.Value<string>("pageDescription") ?? "";

    var pageTitle = !string.IsNullOrEmpty(ViewBag.Title) ? $"{ViewBag.Title} | {siteName}" : "Ontrix";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@Model.Value("pageDescription")">
    <meta name="keywords" content="@Model.Value("siteTag")">
    <link rel="stylesheet" href="css/scss/main.css">
    <link rel="stylesheet" href="https://kit.fontawesome.com/a576612222.css" crossOrigin="anonymous" />
    <title>@pageTitle</title>
</head>

<body>
    <div class="wrapper-grid">
		@await Html.PartialAsync("partials/static/header.cshtml")
		<main>
			@RenderBody()
		</main>
        @await Html.PartialAsync("partials/static/footer.cshtml")
    </div>
	<script src="/script/main.js"></script>
</body>

</html>