@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
    ViewBag.Title = Model?.Value("pageTitle") ?? null;
       var aboutBackgroundImage = Model?.Value<IPublishedContent>("aboutBackgroundImage")?.Url() ?? "";
}

<section id="about" class="banner bg-gray">
    <div class="background"> 
        <img src="@aboutBackgroundImage" alt="Backround image">
        <div class="content">
            <h2>@Model?.Value("aboutHeadline")</h2>
            <div class="links">
                <a class="home" href="@Model?.Value("aboutLink1")">@Model?.Value("aboutLinkText1")</a>
                    <div class="chevron"><i class="fa-regular fa-chevron-right"></i></div>
                <a class="activ" href="@Model?.Value("aboutLink2")">@Model?.Value("aboutLinkText2")</a>
            </div>
        </div>
    </div>
</section>


            <section id="solution-item">
                <div class="container">
                    <div class="content">
                        <nav class="about-us">
                            <h4>About us</h4>
                            <div class="image">
                                <img src="images/services/image-24-min 2.png" alt="">
                            </div>
                            <p>Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non </p>
            
                            <div class="bg-primary">
                                <h4>How can we help you?</h4>
                                <p>online support 24/7, we are here to help you</p>
                                <div class="form">E-mail <i class="fa-light fa-envelope"></i></div>
                                <div class="image">
                                    <img src="images/services/Mail.svg" alt="">
                                </div>
                            </div>
                        </nav>
            
                        <div class="main-content">
                            <div class="image">
                                <img src="images/services/image-21-min 2.png" alt="">
                            </div>
                            <h4>key point</h4>
                            <div class="list">
                                <ul>
                                    <li>Financial planning is the process of helping clients meet their financial needs today and reach their dreams and goals tomorrow.</li>
                                    <li>Pellentesque fringilla augue quis dolor dapibus semper eget non nibh. Ut lobortis, nulla sed euismod posuere, quam magna scelerisque lectus, auctor iaculis quam ligula nec augue</li>
                                    <li>In hac habitasse platea dictumst. Aliquam felis ante, tincidunt sed magna auctor, aliquet dapibus turpis.</li>
                                </ul>
                            </div>
            
                            <h4>A financial plan is based on a personal relationship</h4>
                            <p>
                                No matter where you find yourself today or see yourself in the future, a financial planning relationship with an Ameriprise financial advisor can help you find your financial balance and bring your dreams and goals more within reach.
            
                                Our Confident Retirement approach to financial planning begins with a one-on-one conversation. At its core is a personal relationship with an advisor dedicated to helping you reach the future you imagine, on your own terms, in a way that is convenient for you.
                                The financial planning process all starts with learning about you. Your advisor will take the time to:
                            </p>
                            <div class="list">
                                <ul>
                                    <li>Listen closely to you and learn what you value</li>
                                    <li>Analyze your current financial situation</li>
                                    <li>Understand your feelings about managing money and investments</li>
                                </ul>
                            </div>
                            <p>
                                Then your advisor will offer personalized advice and guidance to help you reach your financial goals. Ameriprise advisors have access to a broad array of solutions to help you plan for your confident future.
            
                                And once you have a plan in place, you may feel more confident knowing that your advisor will stay with you over time, helping you track your progress toward your goals and making adjustments along the way when your life or dreams change.
                            </p>
                            <div class="image">
                                <img src="images/services/post2-1.png" alt="">
                            </div>
                            <h4>We’ll help you achieve financial confidence</h4>
                            <p>Working with a financial advisor may help you come away feeling more confident knowing that you have the support you need to help:</p>
                            <div class="list">
                                <ul>
                                    <li>Cover your essentials. Essentials are the monthly expenses that keep your life running.</li>
                                    <li>Ensure your lifestyle. Lifestyle is about the things that you want to do, and how you want to live, today and in the future.</li>
                                    <li>Prepare for the unexpected. The unexpected are events that could derail your financial plans.</li>
                                    <li>Leave a legacy. Legacy is about the impact you’ll make on the people, charities and causes that are important to you.</li>
                                </ul>
                            </div> 
                        </div>
                    </div>
                    <div class="form">
                        <h4>Have a question ?</h4>
                        <a href="" class="btn btn-primary">Submit</a>
                    </div>
                </div>
            

            </section>
            