@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout                   = "mainLayout.cshtml";
    ViewBag.Title            = Model?.Value("pageTitle") ?? null;

    var sd01BackgroundImage  = Model?.Value<IPublishedContent>("sd01BackgroundImage")?.Url() ?? "";

    var aboutUsImage         = Model?.Value<IPublishedContent>("aboutUsImage")?.Url() ?? "";

    var kpRightImage1        = Model?.Value<IPublishedContent>("kpRightImage1")?.Url() ?? "";
    var kpRightImage2        = Model?.Value<IPublishedContent>("kpRightImage2")?.Url() ?? "";
}



<!-------banner-------------------->
<section class="banner bg-gray">
    <div class="banner-background">
        <img src="@sd01BackgroundImage" alt="Background image">
        <div class="content">
            <h2>@Model?.Value("sd01Headline")</h2>
            <div class="links">
                <a class="home" href="@Model?.Value("sd01Link1")">@Model?.Value("sd01LinkText1")</a>
                <div class="chevron"><i class="fa-regular fa-chevron-right"></i></div>
                <a class="home" href="@Model?.Value("sd01Link2")">@Model?.Value("sd01LinkText2")</a>
                <div class="chevron"><i class="fa-regular fa-chevron-right"></i></div>
                <a class="activ" href="#">@Model?.Value("sd01Headline")</a>
            </div>
        </div>
    </div>
</section>




<!-------ServicesDetails01-------------------->
<section class="ServicesDetails01">

    <div class="container">
        <div class="content">

            <nav class="about-us">
                <h4>@Model?.Value("aboutUsHeadline")</h4>
                <div class="image">
                    <img src="@aboutUsImage" alt="About Us Image">
                </div>
                <p>@Model?.Value("aboutUsText")</p>

                <!-------How can we help you?-------------------->
                @await Html.PartialAsync("partials/static/we-help-you.cshtml")

            </nav>

            <div class="ServicesDetails01-main-content">
                <div class="image">
                    <img src="@kpRightImage1" alt="Image of @Model?.Value("kpRightImage1")">
                </div>

                @Model?.Value("kpRightText1")

                <div class="image">
                    <img src="@kpRightImage2" alt="Image of @Model?.Value("kpRightImage2")">
                </div>

                @Model?.Value("kpRightText2")
            </div>
        </div>
    </div>

</section>




<!-------form-------------------->
<form>
    <div class="ServicesDetails01-form-question">
        <h4>Have a question?</h4>
        <input type="text" placeholder="Name">
        <input type="email" placeholder="Email">
        <textarea placeholder="Question"></textarea>
    </div>
    <button type="submit" class="button-question btn-primary">Submit</button>
</form>



@*----------next-project-----------*@
@await Html.PartialAsync("partials/static/next-project.cshtml")
