
//Ceo
.ceo {

    .container {
        padding-top: 3rem;
        display: flex;
        justify-content: center;
        align-items: start;

        .ceo-image {
            width: 100%;
            flex: 1;
            padding: 2rem;

            > img {
                width: 100%;
                height: auto;
            }

           > h5 {
                font-weight: 400;
                font-style: oblique;
                margin-top: 1rem;
            }
        }

        .ceo-text {
            flex: 2;
            padding: 2rem;

           > h4 {
                font-weight: 400;
                font-style: oblique;
            }

          > h6 {
                margin-top:1rem;
                font-size:0.95rem;
                font-weight: 400;
                color: var(--color-primary);
                line-height: 1.75;
            }
        }
    }
}


//REVIEWS
.reviews {
    position: relative;
    height: 500px;
    margin-top: 8rem;

   > .container {
        display: flex;
        justify-content: space-between;
        align-items: start;

      >  .content {
            margin-top: 5rem;
            width: 50%;
            padding-right: 9rem;

            .reviews-text {

              > h6 {
                    font-size: 1rem;
                    font-weight: 600;
                }

               > h5 {
                    font-size: 1.2rem;
                    font-weight: 400;
                    font-style: oblique;
                    margin-top: 1rem;
                    opacity: 0.7;
                    width: 120%;
                    color: var(--color-primary-light);
                }

                .star-rating {
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }

               > p {
                    padding: 0;
                }

                .swedbank {
                    margin-top: 0.5rem;
                    opacity: 1;
                    font-weight: 500;
                }
            }
        }

        .reviews-image {
            position: absolute;
            top: 0;
            left: 855px;

           > img {
                height: 500px;
            }
        }
    }
}



//our-experts
.our-experts {
    .container {

      > .headline {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
            margin-top: 7rem;

            > h2 {
                max-width: 550px;
            }
        }

        .content-expert,
        .content-more-expert {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-top: 1rem;
            gap: 2rem;

            .our-expert {
                border: 1px solid var(--color-border-gray);

              > .image {
                    width: 100%;
                    height: auto;
                    position: relative;
                    overflow: hidden;

                    > img {
                        width: 100%;
                        height: auto;
                        transition: transform 0.5s ease, opacity 0.5s ease;

                        &:hover {
                            transform: scale(1.1);
                            opacity: 0.8;
                        }
                    }
                }

                > h4, > h5 {
                    padding: 1.5rem;
                //  margin-top: 0.5rem;
                    margin-bottom: -2rem;
                }

                > p {
                    padding: 1.5rem;
                    margin-top: -3rem;
                    opacity: 0.7;
                }
            }
        }

        .content-more-expert {
            grid-template-columns: repeat(4, 1fr);
            margin-top: 3rem;
            gap: 2rem;
        }
    }
}
