#risk-management {
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .content {
            margin-top: 5rem;
            display: flex;
            justify-content: center;
            align-items: start;
            gap: 3rem;

            .about-us {
                flex: 1;

                .image {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                p {
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    font-size: 1.15rem;
                }

                .bg-primary {
                    position: relative;
                    z-index: 1;
                    padding: 2rem;

                    h4 {
                        font-size: 1.8rem;
                        font-weight: 500;
                        color: var(--color-secondary);
                    }

                    .image {
                        width: 50%;
                        height: auto;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        z-index: -1;
                    }

                 /*   .rm-input-email {
                        position: relative;
                        width: 100%;
                        max-width: 400px; 

                        input {
                            width: 100%;
                            padding: 0.85rem;
                            padding-right: 3rem;   
                            border: 1.5px solid var(--color-border-gray);
                            border-radius: 6px;
                            font-size: 12pt;
                            font-style: italic;
                            transition: border-color 0.3s ease;

                            &::placeholder {
                                color: var(--color-border-gray);
                            }

                            &:focus,
                            &:hover {
                                border-color: var(--color-border-dark);
                            }
                        }

                        .icon {
                            position: absolute;
                            top: 50%;
                            right: 1rem;
                            transform: translateY(-50%);
                            pointer-events: none; 
                            color: var(--color-border-gray); 
                            font-size: 1.2rem; 
                        }
                    }*/
                }
            }

            .main-content {
                flex: 2;
                border-left: 1px solid var(--color-gray);
                padding-left: 3rem;

                .image {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                h4 {
                    margin-top: 2rem;
                }

                ul {
                    li {
                        line-height: 2;
                    }
                }

                p {
                    line-height: 2;
                }
            }
        }
    }



    //Form//////////////////////////////////////////////////////
    .rm-input-group {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 1.5rem;
        margin-bottom: 2rem;
        margin: 0 auto;
        max-width: 65%;

        h4 {
            grid-column: 1 / -1; 
            font-size: 1.5rem;
            font-weight: 700;
        }

        input,
        textarea {
            width: 100%;
            padding: 0.85rem;
            border: 1.5px solid var(--color-border-gray);
            border-radius: 4px;
            font-size: 12pt;
            font-style: italic;
            transition: border-color 0.3s ease;

            &::placeholder {
                color: var(--color-border-gray);
            }

            &:focus,
            &:hover {
                border-color: var(--color-border-dark);
            }
        }
       
        textarea {
            grid-column: 1 / -1; 
            height: 150px;
            resize: none; 
        }
        
        input[type="email"] {
            grid-column: 2;
        }
        
        input[type="text"]:nth-child(3) {
            grid-column: 1 / -1; 
        }
    }
    
    .button-question {
        margin: 1.2rem 22.5rem; 
        padding: 0.75rem 2rem;
        text-align: center;
        font-weight: bold;
        font-size: 14pt;
        border-radius: 4px;
        background-color: var(--color-primary);
        color: var(--color-light);
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: var(--color-primary-dark);
        }
    }
}
