@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper

@{
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;

    var weHelpYouImage = Model?.Value<IPublishedContent>("weHelpYouImage")?.Url() ?? "";
    var weHelpYouHeadline = settings?.Value<string>("weHelpYouHeadline") ?? "";
    var weHelpYouText = settings?.Value<string>("weHelpYouText") ?? "";
}



<!------- How can we help you? -------------------->
<div class="bg-primary">
    <h4>@weHelpYouHeadline</h4>
    <p>@weHelpYouText</p>
    <div class="we-help-you">
        <input type="email" placeholder="E-mail address">
        <span class="we-help-icon">
            <i class="fas fa-envelope"></i> 
        </span>
    </div>
    <div class="we-help-you-image">
        <img src="~/media/csafyptp/mail.svg" alt="Section Image">
    </div>
</div>
