<?xml version="1.0" encoding="utf-8"?>
<Content Key="309aee39-cb4f-4346-a4cf-215a7952af96" Alias="Contact" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-09-10T11:11:33</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9c904ac9-d49d-4f04-aec1-95e1af68599c">contactPage</Template>
  </Info>
  <Properties>
    <contactBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "add617b7-bd8c-43f3-98bf-3740071c0626",
    "mediaKey": "20753332-5cf2-4919-9768-dfc88e197031",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBackgroundImage>
    <contactHeadline>
      <Value><![CDATA[Contact Us]]></Value>
    </contactHeadline>
    <contactLink1>
      <Value><![CDATA[/]]></Value>
    </contactLink1>
    <contactLink2>
      <Value><![CDATA[/contact]]></Value>
    </contactLink2>
    <contactLinkText1>
      <Value><![CDATA[Home]]></Value>
    </contactLinkText1>
    <contactLinkText2>
      <Value><![CDATA[Contact]]></Value>
    </contactLinkText2>
    <pageTitle>
      <Value><![CDATA[Contact]]></Value>
    </pageTitle>
    <requestTextHeading>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </requestTextHeading>
    <requestTextHeadline>
      <Value><![CDATA[REQUEST A CALL BACK]]></Value>
    </requestTextHeadline>
    <requestTextText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus]]></Value>
    </requestTextText>
  </Properties>
</Content>