<?xml version="1.0" encoding="utf-8"?>
<Content Key="1e582f8f-7138-40fd-883a-390eb32d62fa" Alias="Projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectsPage</ContentType>
    <CreateDate>2024-09-10T11:56:17</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4b83153a-fae2-4b50-9e7e-6d81010d2a70">projectsPage</Template>
  </Info>
  <Properties>
    <lOurProjectsDate01>
      <Value><![CDATA[June 15, 2024]]></Value>
    </lOurProjectsDate01>
    <lOurProjectsDate02>
      <Value><![CDATA[May 17, 2024]]></Value>
    </lOurProjectsDate02>
    <lOurProjectsDate03>
      <Value><![CDATA[February 6, 2024]]></Value>
    </lOurProjectsDate03>
    <lOurProjectsDate04>
      <Value><![CDATA[January 3, 2024]]></Value>
    </lOurProjectsDate04>
    <lOurProjectsHeadline01>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </lOurProjectsHeadline01>
    <lOurProjectsHeadline02>
      <Value><![CDATA[Business Insights for SP Group and Friends]]></Value>
    </lOurProjectsHeadline02>
    <lOurProjectsHeadline03>
      <Value><![CDATA[Financial Advisors for Irra Industrial Group...]]></Value>
    </lOurProjectsHeadline03>
    <lOurProjectsHeadline04>
      <Value><![CDATA[Budget Planning for Buccura In...]]></Value>
    </lOurProjectsHeadline04>
    <lOurProjectsImage01>
      <Value><![CDATA[[
  {
    "key": "7f208a6f-101e-4410-926c-ddd9f7699464",
    "mediaKey": "53a3b70f-aadd-4168-bbe7-b732afe1e322",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </lOurProjectsImage01>
    <lOurProjectsImage02>
      <Value><![CDATA[[
  {
    "key": "e5067b1d-fc57-4722-8244-816e0fff2b08",
    "mediaKey": "bfefefa8-b335-4c34-9d0e-2a33ee52cdcc",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </lOurProjectsImage02>
    <lOurProjectsImage03>
      <Value><![CDATA[[
  {
    "key": "43fb2510-bee0-41bd-bad5-b7fe5221575e",
    "mediaKey": "87465114-0607-45db-aa0c-5564703fdbc4",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </lOurProjectsImage03>
    <lOurProjectsImage04>
      <Value><![CDATA[[
  {
    "key": "663d871c-c60a-4104-87e5-1db95c47cf72",
    "mediaKey": "15c57719-b52f-458b-9f76-3dd7b9e73dd4",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </lOurProjectsImage04>
    <lOurProjectsTextP01>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </lOurProjectsTextP01>
    <lOurProjectsTextP02>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </lOurProjectsTextP02>
    <lOurProjectsTextP03>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </lOurProjectsTextP03>
    <lOurProjectsTextP04>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </lOurProjectsTextP04>
    <pageTitle>
      <Value><![CDATA[Projects Page]]></Value>
    </pageTitle>
    <projectsBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "981eee07-9cfd-4c06-91a2-3d8cfe6f0615",
    "mediaKey": "20753332-5cf2-4919-9768-dfc88e197031",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectsBackgroundImage>
    <projectsDetailsLink01>
      <Value><![CDATA[/projects-details-01]]></Value>
    </projectsDetailsLink01>
    <projectsHeadline>
      <Value><![CDATA[Our Projects]]></Value>
    </projectsHeadline>
    <projectsLink1>
      <Value><![CDATA[/]]></Value>
    </projectsLink1>
    <projectsLink2>
      <Value><![CDATA[/Projects]]></Value>
    </projectsLink2>
    <projectsLinkText1>
      <Value><![CDATA[Home]]></Value>
    </projectsLinkText1>
    <projectsLinkText2>
      <Value><![CDATA[Projects]]></Value>
    </projectsLinkText2>
    <rightTag01>
      <Value><![CDATA[Report]]></Value>
    </rightTag01>
    <rightTag02>
      <Value><![CDATA[Busines plans]]></Value>
    </rightTag02>
    <rightTag03>
      <Value><![CDATA[Insights]]></Value>
    </rightTag03>
    <rightTag04>
      <Value><![CDATA[Business]]></Value>
    </rightTag04>
    <rightTag05>
      <Value><![CDATA[App]]></Value>
    </rightTag05>
    <rightTag06>
      <Value><![CDATA[Project]]></Value>
    </rightTag06>
    <rightTag07>
      <Value><![CDATA[Finance]]></Value>
    </rightTag07>
    <rightTag08>
      <Value><![CDATA[Pricing]]></Value>
    </rightTag08>
    <rightTagHeadLine>
      <Value><![CDATA[Tags]]></Value>
    </rightTagHeadLine>
  </Properties>
</Content>