<?xml version="1.0" encoding="utf-8"?>
<Content Key="85ff5beb-1887-4513-ad9e-7efa927f3b90" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesPage</ContentType>
    <CreateDate>2024-09-10T11:21:40</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4cfff3cd-d174-4a52-9b72-986501e2e216">servicesPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Services]]></Value>
    </pageTitle>
    <servicesBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "2cbee9cd-4e19-4d64-8fed-78f17c5e258b",
    "mediaKey": "20753332-5cf2-4919-9768-dfc88e197031",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </servicesBackgroundImage>
    <servicesHeadline>
      <Value><![CDATA[Our Services]]></Value>
    </servicesHeadline>
    <servicesLink1>
      <Value><![CDATA[/]]></Value>
    </servicesLink1>
    <servicesLink2>
      <Value><![CDATA[/services]]></Value>
    </servicesLink2>
    <servicesLinkText1>
      <Value><![CDATA[Home]]></Value>
    </servicesLinkText1>
    <servicesLinkText2>
      <Value><![CDATA[Services]]></Value>
    </servicesLinkText2>
  </Properties>
</Content>