<?xml version="1.0" encoding="utf-8"?>
<Content Key="8b63747f-dcbc-4df9-bfc1-3fee696cdba6" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-10T10:18:01</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callBackButton>
      <Value><![CDATA[Submit]]></Value>
    </callBackButton>
    <callBackButtonType>
      <Value><![CDATA[Submit]]></Value>
    </callBackButtonType>
    <callBackHeadline>
      <Value><![CDATA[Request a call back]]></Value>
    </callBackHeadline>
    <callBackOptions01>
      <Value><![CDATA[Financial consulting 01]]></Value>
    </callBackOptions01>
    <callBackOptions02>
      <Value><![CDATA[Financial consulting 02]]></Value>
    </callBackOptions02>
    <callBackOptions03>
      <Value><![CDATA[Financial consulting 03]]></Value>
    </callBackOptions03>
    <callBackP>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat]]></Value>
    </callBackP>
    <callBackPlaceholder01>
      <Value><![CDATA[Name]]></Value>
    </callBackPlaceholder01>
    <callBackPlaceholder02>
      <Value><![CDATA[Email address]]></Value>
    </callBackPlaceholder02>
    <callBackPlaceholder03>
      <Value><![CDATA[Phone]]></Value>
    </callBackPlaceholder03>
    <callBackPlaceholder04>
      <Value><![CDATA[Financial consulting]]></Value>
    </callBackPlaceholder04>
    <callBackType01>
      <Value><![CDATA[text]]></Value>
    </callBackType01>
    <callBackType02>
      <Value><![CDATA[email]]></Value>
    </callBackType02>
    <callBackType03>
      <Value><![CDATA[number]]></Value>
    </callBackType03>
    <footerCompanyName>
      <Value><![CDATA[Themesflat]]></Value>
    </footerCompanyName>
    <footerRights>
      <Value><![CDATA[Onatrix. All Rights Reserved. Credits to]]></Value>
    </footerRights>
    <footerRightsMobile>
      <Value><![CDATA[Onatrix. Credits to]]></Value>
    </footerRightsMobile>
    <headerFacebookLink>
      <Value><![CDATA[#]]></Value>
    </headerFacebookLink>
    <headerInstagramLink>
      <Value><![CDATA[#]]></Value>
    </headerInstagramLink>
    <headerLink1>
      <Value><![CDATA[/about]]></Value>
    </headerLink1>
    <headerLink2>
      <Value><![CDATA[/services]]></Value>
    </headerLink2>
    <headerLink3>
      <Value><![CDATA[/projects]]></Value>
    </headerLink3>
    <headerLink4>
      <Value><![CDATA[/contact]]></Value>
    </headerLink4>
    <headerLinkText1>
      <Value><![CDATA[About]]></Value>
    </headerLinkText1>
    <headerLinkText2>
      <Value><![CDATA[Services]]></Value>
    </headerLinkText2>
    <headerLinkText3>
      <Value><![CDATA[Projects]]></Value>
    </headerLinkText3>
    <headerLinkText4>
      <Value><![CDATA[Contact]]></Value>
    </headerLinkText4>
    <headerXLink>
      <Value><![CDATA[#]]></Value>
    </headerXLink>
    <npImageBackground>
      <Value><![CDATA[[
  {
    "key": "b7fe70d0-5965-4649-929a-7616697558f8",
    "mediaKey": "60a6d72c-40d0-435c-8343-cfeb73999e86",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </npImageBackground>
    <npImageDot>
      <Value><![CDATA[[
  {
    "key": "04442e0e-c4f7-4a5a-9494-1dfa067962ff",
    "mediaKey": "7d9d0bb9-c287-4563-a1b2-311aa20a8210",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </npImageDot>
    <npImageHuman>
      <Value><![CDATA[[
  {
    "key": "892b48bb-accb-4edb-9a60-8527a9cebcc9",
    "mediaKey": "b81c738d-0931-4831-ba6e-6fe3200b5afc",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </npImageHuman>
    <npPEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </npPEmail>
    <npPLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </npPLocation>
    <npPPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </npPPhone>
    <npTextEmail>
      <Value><![CDATA[E-mail address]]></Value>
    </npTextEmail>
    <npTextHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </npTextHeadline>
    <npTextLocation>
      <Value><![CDATA[Office location]]></Value>
    </npTextLocation>
    <npTextPhone>
      <Value><![CDATA[Phone number]]></Value>
    </npTextPhone>
    <officeEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </officeEmailAddress>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </officeLocation>
    <officePhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </officePhoneNumber>
    <partnersImage1>
      <Value><![CDATA[[
  {
    "key": "4ec423a1-8dbc-452a-864e-7b6788fb0b0d",
    "mediaKey": "d98ca0e2-5c2e-4d9e-9b54-b32e373f685f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersImage1>
    <partnersImage2>
      <Value><![CDATA[[
  {
    "key": "744044bd-f483-43a5-a25f-92a56f108bf7",
    "mediaKey": "95904fd4-386c-4f54-89f9-01b0bc189173",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersImage2>
    <partnersImage3>
      <Value><![CDATA[[
  {
    "key": "30e1fe1e-8484-4078-94ed-7ad298150768",
    "mediaKey": "0291986a-e2f2-46a7-980b-2200f9dbb81a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersImage3>
    <partnersImage4>
      <Value><![CDATA[[
  {
    "key": "0189f294-9dce-4204-8ba6-ce2494728381",
    "mediaKey": "52d94718-feae-476d-a5cc-0ede69f3d995",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersImage4>
    <partnersImage5>
      <Value><![CDATA[[
  {
    "key": "de1225d8-2bcf-4f5e-a861-d0c2dc42fb2a",
    "mediaKey": "b45a27bd-9f40-45df-b582-2561a6628fea",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersImage5>
    <partnersImage6>
      <Value><![CDATA[[
  {
    "key": "8423ad07-9055-48d5-8249-d34a7293cb09",
    "mediaKey": "84a14ed0-1255-48b2-a66f-f823bb0a867a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersImage6>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "d5e87420-7fef-4304-9c04-2b85ef454633",
    "mediaKey": "1a9d9954-d48d-44b4-b269-16f78424100e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <siteTag>
      <Value><![CDATA[]]></Value>
    </siteTag>
    <weHelpYouHeadline>
      <Value><![CDATA[How can we help you?]]></Value>
    </weHelpYouHeadline>
    <weHelpYouImage>
      <Value><![CDATA[[
  {
    "key": "81c4f7fe-75a9-421d-8c87-73156657e514",
    "mediaKey": "dcfe3ce6-1c74-4e05-a101-eb3244aea894",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </weHelpYouImage>
    <weHelpYouText>
      <Value><![CDATA[online support 24/7, we are here to help you]]></Value>
    </weHelpYouText>
  </Properties>
</Content>