.footer {
   > .container {
        display: flex;
        justify-content: start;
        align-items: center;
        padding-top: 1rem;

      >  .rights {
            display: block;
            color: var(--color-primary);
        }

      >  .left {
            margin-left: 0.5rem;
            color: var(--color-light);
        }
    }
}
