#header {

    .background-primary {
        background-color: var(--color-primary);

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;

            .text {
                display: block;

                p {
                    padding: 0;
                    color: var(--color-light);
                    font-size: 0.8rem;
                }
            }


            .social-icons {
                display: flex;
                align-items: center;
            }

            .social-icons a {
                padding: 0.7rem;
                border-left: 1px solid;
                border-right: 1px solid;
                border-color: rgba(255, 255, 255, 0.1);
                cursor: pointer;
            }



            .social-icons i {
                font-size: 14px;
                color: var(--color-light);
                transition: opacity 0.2s ease;
            }

            .social-icons i:hover {
                opacity: 0.3;
            }
        }
    }



    .background-light {
        background-color: var(--color-light);

        .container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            height: 80px;

            .logo {
                display: block;

                a {
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }

            .links {
                a {
                    color: var(--color-primary);
                    font-weight: 700;
                    text-decoration: none;
                }

                display: flex;
                gap: 4rem;
            }

            .search-icon {
                justify-self: end;

                a {
                    color: var(--color-primary);
                }
            }
        }
    }
}
