
.pagnaition {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;

    a {
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 700;
        color: var(--color-primary);
        // background-color: var(--color-light);
        padding: 0.5rem 1rem;
        border: 1px solid var(--color-gray);
        border-radius: 40%;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        }
    }

    .prev {
        border: none;
        color: var(--color-gray);
    }

    .two {
        border: none;
    }

    .next {
        border: none;
    }
}
