<?xml version="1.0" encoding="utf-8"?>
<Media Key="18c3c2fb-1e88-4915-b417-e45c782846f6" Alias="About Page" Level="2">
  <Info>
    <Parent Key="e3db0ccc-19fd-4bc8-bd61-5a1e2e3d6297">image</Parent>
    <Path>/image/AboutPage</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-10T12:31:21</CreateDate>
    <NodeName Default="About Page" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>