<?xml version="1.0" encoding="utf-8"?>
<Media Key="20753332-5cf2-4919-9768-dfc88e197031" Alias="BackGround-About.svg" Level="3">
  <Info>
    <Parent Key="3e0b66fa-851e-4cb9-b7d4-d3830728ec25">Misc</Parent>
    <Path>/image/Misc/BackGroundAboutsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T12:41:54</CreateDate>
    <NodeName Default="BackGround-About.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ychnpqxj/background-about.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>