<?xml version="1.0" encoding="utf-8"?>
<Media Key="20b36d62-7a48-4098-9c20-f020893c6ec4" Alias="CEO.webp" Level="3">
  <Info>
    <Parent Key="18c3c2fb-1e88-4915-b417-e45c782846f6">About Page</Parent>
    <Path>/image/AboutPage/CEOwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T12:40:30</CreateDate>
    <NodeName Default="CEO.webp" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3wtplfrb/ceo.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>