<?xml version="1.0" encoding="utf-8"?>
<Media Key="dbe3d14a-4a29-427c-a5e9-f98b09cf0f67" Alias="clients-DotMmap.svg" Level="3">
  <Info>
    <Parent Key="ba3a008a-d612-48b8-ba17-f2a0a519bfc8">Home Page</Parent>
    <Path>/image/HomePage/clientsDotMmapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T12:16:37</CreateDate>
    <NodeName Default="clients-DotMmap.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xbwecojs/clients-dotmmap.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>