<?xml version="1.0" encoding="utf-8"?>
<Media Key="4025f97b-d9d3-4ebb-9a60-772b65601088" Alias="contact-details-Person.webp" Level="3">
  <Info>
    <Parent Key="18c3c2fb-1e88-4915-b417-e45c782846f6">About Page</Parent>
    <Path>/image/AboutPage/contactDetailsPersonwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T12:40:30</CreateDate>
    <NodeName Default="contact-details-Person.webp" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4qzhh3v0/contact-details-person.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>