<?xml version="1.0" encoding="utf-8"?>
<Media Key="e169c416-160e-4c88-a1eb-56f05adeccc5" Alias="expert-02.webp" Level="3">
  <Info>
    <Parent Key="18c3c2fb-1e88-4915-b417-e45c782846f6">About Page</Parent>
    <Path>/image/AboutPage/expert02webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T12:40:29</CreateDate>
    <NodeName Default="expert-02.webp" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tehc4v1h/expert-02.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>