<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a335fd6-a0df-480f-9686-6f8a00f5d855" Alias="expert-03.webp" Level="3">
  <Info>
    <Parent Key="18c3c2fb-1e88-4915-b417-e45c782846f6">About Page</Parent>
    <Path>/image/AboutPage/expert03webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T12:40:29</CreateDate>
    <NodeName Default="expert-03.webp" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lgkhl5fw/expert-03.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>