<?xml version="1.0" encoding="utf-8"?>
<Media Key="c288b3d6-219d-45f4-9d24-2ed3f38d4389" Alias="expert-7.webp" Level="3">
  <Info>
    <Parent Key="18c3c2fb-1e88-4915-b417-e45c782846f6">About Page</Parent>
    <Path>/image/AboutPage/expert7webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T12:40:29</CreateDate>
    <NodeName Default="expert-7.webp" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lf2n23hu/expert-7.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>