<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e77844b-88cb-49d1-b72b-aa34d0de0b4a" Alias="expert-01.webp" Level="3">
  <Info>
    <Parent Key="18c3c2fb-1e88-4915-b417-e45c782846f6">About Page</Parent>
    <Path>/image/AboutPage/expert01webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T12:40:30</CreateDate>
    <NodeName Default="expert-01.webp" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/yrhddgfc/expert-01.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>