<?xml version="1.0" encoding="utf-8"?>
<Media Key="68b07205-a135-4c29-9b2a-cbb657408877" Alias="expert-04.webp" Level="3">
  <Info>
    <Parent Key="18c3c2fb-1e88-4915-b417-e45c782846f6">About Page</Parent>
    <Path>/image/AboutPage/expert04webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T12:40:29</CreateDate>
    <NodeName Default="expert-04.webp" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rk2pnxs2/expert-04.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>