<?xml version="1.0" encoding="utf-8"?>
<Media Key="ba3a008a-d612-48b8-ba17-f2a0a519bfc8" Alias="Home Page" Level="2">
  <Info>
    <Parent Key="e3db0ccc-19fd-4bc8-bd61-5a1e2e3d6297">image</Parent>
    <Path>/image/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-10T12:09:15</CreateDate>
    <NodeName Default="Home Page" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>