<?xml version="1.0" encoding="utf-8"?>
<Media Key="e3db0ccc-19fd-4bc8-bd61-5a1e2e3d6297" Alias="image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-10T12:08:29</CreateDate>
    <NodeName Default="image" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>