<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a9d9954-d48d-44b4-b269-16f78424100e" Alias="Logo.svg" Level="3">
  <Info>
    <Parent Key="3e0b66fa-851e-4cb9-b7d4-d3830728ec25">Misc</Parent>
    <Path>/image/Misc/Logosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T12:13:54</CreateDate>
    <NodeName Default="Logo.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uysd54ew/logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>