<?xml version="1.0" encoding="utf-8"?>
<Media Key="dcfe3ce6-1c74-4e05-a101-eb3244aea894" Alias="Mail.svg" Level="3">
  <Info>
    <Parent Key="3e0b66fa-851e-4cb9-b7d4-d3830728ec25">Misc</Parent>
    <Path>/image/Misc/Mailsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T10:32:36</CreateDate>
    <NodeName Default="Mail.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/csafyptp/mail.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>