<?xml version="1.0" encoding="utf-8"?>
<Media Key="b81c738d-0931-4831-ba6e-6fe3200b5afc" Alias="Next Project-Person.webp" Level="4">
  <Info>
    <Parent Key="03132f99-b6bc-4764-beb2-861c6522f017">Next Project - Section</Parent>
    <Path>/image/partials/NextProjectSection/NextProjectPersonwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T12:48:39</CreateDate>
    <NodeName Default="Next Project-Person.webp" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ak2fudsy/next-project-person.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>