<?xml version="1.0" encoding="utf-8"?>
<Media Key="03132f99-b6bc-4764-beb2-861c6522f017" Alias="Next Project - Section" Level="3">
  <Info>
    <Parent Key="4f7e8e40-d7dd-40db-bc17-38dce649d19a">partials</Parent>
    <Path>/image/partials/NextProjectSection</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-10T12:46:26</CreateDate>
    <NodeName Default="Next Project - Section" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>