<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d9d0bb9-c287-4563-a1b2-311aa20a8210" Alias="Next Project-Dot.svg" Level="4">
  <Info>
    <Parent Key="03132f99-b6bc-4764-beb2-861c6522f017">Next Project - Section</Parent>
    <Path>/image/partials/NextProjectSection/NextProjectDotsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T12:50:18</CreateDate>
    <NodeName Default="Next Project-Dot.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jo1d5h22/next-project-dot.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>