<?xml version="1.0" encoding="utf-8"?>
<Media Key="60a6d72c-40d0-435c-8343-cfeb73999e86" Alias="Next Project-Bg.svg" Level="4">
  <Info>
    <Parent Key="03132f99-b6bc-4764-beb2-861c6522f017">Next Project - Section</Parent>
    <Path>/image/partials/NextProjectSection/NextProjectBgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T12:50:18</CreateDate>
    <NodeName Default="Next Project-Bg.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1zvajawl/next-project-bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>