<?xml version="1.0" encoding="utf-8"?>
<Media Key="90e02878-1b8a-4551-9ded-5e1a450856d6" Alias="our services - section" Level="3">
  <Info>
    <Parent Key="4f7e8e40-d7dd-40db-bc17-38dce649d19a">partials</Parent>
    <Path>/image/partials/ourServicesSection</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-10T13:39:41</CreateDate>
    <NodeName Default="our services - section" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>