<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f7e8e40-d7dd-40db-bc17-38dce649d19a" Alias="partials" Level="2">
  <Info>
    <Parent Key="e3db0ccc-19fd-4bc8-bd61-5a1e2e3d6297">image</Parent>
    <Path>/image/partials</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-10T12:22:24</CreateDate>
    <NodeName Default="partials" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>