<?xml version="1.0" encoding="utf-8"?>
<Media Key="0291986a-e2f2-46a7-980b-2200f9dbb81a" Alias="Partners-03.svg" Level="4">
  <Info>
    <Parent Key="f6f7987e-e186-430f-94c2-24a32ff0cb35">partners</Parent>
    <Path>/image/partials/partners/Partners03svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T12:23:28</CreateDate>
    <NodeName Default="Partners-03.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tasdhyhj/partners-03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>