<?xml version="1.0" encoding="utf-8"?>
<Media Key="95904fd4-386c-4f54-89f9-01b0bc189173" Alias="Partners-02.svg" Level="4">
  <Info>
    <Parent Key="f6f7987e-e186-430f-94c2-24a32ff0cb35">partners</Parent>
    <Path>/image/partials/partners/Partners02svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T12:23:28</CreateDate>
    <NodeName Default="Partners-02.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/e1zde31x/partners-02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>