<?xml version="1.0" encoding="utf-8"?>
<Media Key="84a14ed0-1255-48b2-a66f-f823bb0a867a" Alias="Partners-06.svg" Level="4">
  <Info>
    <Parent Key="f6f7987e-e186-430f-94c2-24a32ff0cb35">partners</Parent>
    <Path>/image/partials/partners/Partners06svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T12:23:28</CreateDate>
    <NodeName Default="Partners-06.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/elzbgzso/partners-06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>