<?xml version="1.0" encoding="utf-8"?>
<Media Key="d98ca0e2-5c2e-4d9e-9b54-b32e373f685f" Alias="Partners-01.svg" Level="4">
  <Info>
    <Parent Key="f6f7987e-e186-430f-94c2-24a32ff0cb35">partners</Parent>
    <Path>/image/partials/partners/Partners01svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T12:23:28</CreateDate>
    <NodeName Default="Partners-01.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/caod2ozv/partners-01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>