<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6f7987e-e186-430f-94c2-24a32ff0cb35" Alias="partners" Level="3">
  <Info>
    <Parent Key="4f7e8e40-d7dd-40db-bc17-38dce649d19a">partials</Parent>
    <Path>/image/partials/partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-10T12:23:11</CreateDate>
    <NodeName Default="partners" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>