<?xml version="1.0" encoding="utf-8"?>
<Media Key="b45a27bd-9f40-45df-b582-2561a6628fea" Alias="Partners-05.svg" Level="4">
  <Info>
    <Parent Key="f6f7987e-e186-430f-94c2-24a32ff0cb35">partners</Parent>
    <Path>/image/partials/partners/Partners05svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T12:23:28</CreateDate>
    <NodeName Default="Partners-05.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/j4npqvs1/partners-05.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>