<?xml version="1.0" encoding="utf-8"?>
<Media Key="f039cf0e-2138-4ee3-8f08-a49eb2caefa6" Alias="Projects04.webp" Level="3">
  <Info>
    <Parent Key="6fad6ef3-43e2-48e7-a5f5-9fc918bd0edf">Projects</Parent>
    <Path>/image/Projects/Projects04webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-17T11:40:29</CreateDate>
    <NodeName Default="Projects04.webp" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qech4rsr/projects04.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>