<?xml version="1.0" encoding="utf-8"?>
<Media Key="6fad6ef3-43e2-48e7-a5f5-9fc918bd0edf" Alias="Projects" Level="2">
  <Info>
    <Parent Key="e3db0ccc-19fd-4bc8-bd61-5a1e2e3d6297">image</Parent>
    <Path>/image/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-17T10:31:57</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>