<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b1acf46-01cb-4585-844f-94bbf7230442" Alias="Projects03.webp" Level="3">
  <Info>
    <Parent Key="6fad6ef3-43e2-48e7-a5f5-9fc918bd0edf">Projects</Parent>
    <Path>/image/Projects/Projects03webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-17T10:33:42</CreateDate>
    <NodeName Default="Projects03.webp" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zecfypnc/projects03.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>