<?xml version="1.0" encoding="utf-8"?>
<Media Key="87465114-0607-45db-aa0c-5564703fdbc4" Alias="Recent-Projects-03.webp" Level="3">
  <Info>
    <Parent Key="ba3a008a-d612-48b8-ba17-f2a0a519bfc8">Home Page</Parent>
    <Path>/image/HomePage/RecentProjects03webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T12:19:35</CreateDate>
    <NodeName Default="Recent-Projects-03.webp" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tonbamlo/recent-projects-03.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>