<?xml version="1.0" encoding="utf-8"?>
<Media Key="bfefefa8-b335-4c34-9d0e-2a33ee52cdcc" Alias="Recent-Projects-02.webp" Level="3">
  <Info>
    <Parent Key="ba3a008a-d612-48b8-ba17-f2a0a519bfc8">Home Page</Parent>
    <Path>/image/HomePage/RecentProjects02webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T12:19:35</CreateDate>
    <NodeName Default="Recent-Projects-02.webp" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/e2slsck2/recent-projects-02.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>