<?xml version="1.0" encoding="utf-8"?>
<Media Key="6025a79d-9644-42d5-b01b-3ef3649c62d0" Alias="Risk Management-01.webp" Level="3">
  <Info>
    <Parent Key="3e0b66fa-851e-4cb9-b7d4-d3830728ec25">Misc</Parent>
    <Path>/image/Misc/RiskManagement01webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-11T11:48:35</CreateDate>
    <NodeName Default="Risk Management-01.webp" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cjwhhvrn/risk-management-01.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>