<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d977d5c-316a-4755-b926-0006f5d00d69" Alias="services-05.webp" Level="4">
  <Info>
    <Parent Key="90e02878-1b8a-4551-9ded-5e1a450856d6">our services - section</Parent>
    <Path>/image/partials/ourServicesSection/services05webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T13:43:10</CreateDate>
    <NodeName Default="services-05.webp" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0o1ndoyd/services-05.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>