<?xml version="1.0" encoding="utf-8"?>
<Media Key="8795c2c9-f135-478a-bdc1-4b821991c700" Alias="services-02.webp" Level="4">
  <Info>
    <Parent Key="90e02878-1b8a-4551-9ded-5e1a450856d6">our services - section</Parent>
    <Path>/image/partials/ourServicesSection/services02webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T13:43:10</CreateDate>
    <NodeName Default="services-02.webp" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/iyengmk2/services-02.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>