<?xml version="1.0" encoding="utf-8"?>
<Media Key="99720e67-7f74-447d-8df5-4e5b89675596" Alias="services-04.webp" Level="4">
  <Info>
    <Parent Key="90e02878-1b8a-4551-9ded-5e1a450856d6">our services - section</Parent>
    <Path>/image/partials/ourServicesSection/services04webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T13:43:10</CreateDate>
    <NodeName Default="services-04.webp" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3dcdily3/services-04.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>