<?xml version="1.0" encoding="utf-8"?>
<Media Key="70020b78-49ac-49cf-8864-aafeb0532708" Alias="services-03.webp" Level="4">
  <Info>
    <Parent Key="90e02878-1b8a-4551-9ded-5e1a450856d6">our services - section</Parent>
    <Path>/image/partials/ourServicesSection/services03webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T13:43:10</CreateDate>
    <NodeName Default="services-03.webp" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/45afjrwf/services-03.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>