<?xml version="1.0" encoding="utf-8"?>
<Media Key="b858a405-4bf7-4bc6-ad1e-9eb1e7012ff8" Alias="Signatures-Hero.webp" Level="3">
  <Info>
    <Parent Key="ba3a008a-d612-48b8-ba17-f2a0a519bfc8">Home Page</Parent>
    <Path>/image/HomePage/SignaturesHerowebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T12:16:30</CreateDate>
    <NodeName Default="Signatures-Hero.webp" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rjxb2du4/signatures-hero.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>