<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ed16acb-dd56-4b45-8bba-13216eca5059" Alias="Success-DotMmap.svg" Level="3">
  <Info>
    <Parent Key="ba3a008a-d612-48b8-ba17-f2a0a519bfc8">Home Page</Parent>
    <Path>/image/HomePage/SuccessDotMmapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T12:16:39</CreateDate>
    <NodeName Default="Success-DotMmap.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hhlhg5cn/success-dotmmap.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>