<?xml version="1.0" encoding="utf-8"?>
<Media Key="048cafd4-b8b2-40c2-a793-afb9a4725214" Alias="Success-01.webp" Level="3">
  <Info>
    <Parent Key="ba3a008a-d612-48b8-ba17-f2a0a519bfc8">Home Page</Parent>
    <Path>/image/HomePage/Success01webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T12:20:04</CreateDate>
    <NodeName Default="Success-01.webp" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lnsnvmw1/success-01.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>