<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f52f696-2ff9-453a-a4ef-5f9073d279d6" Alias="Swebank-Person.webp" Level="3">
  <Info>
    <Parent Key="18c3c2fb-1e88-4915-b417-e45c782846f6">About Page</Parent>
    <Path>/image/AboutPage/SwebankPersonwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T12:40:29</CreateDate>
    <NodeName Default="Swebank-Person.webp" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/de4bjwmq/swebank-person.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>